@model DataAccess.Model.Patients

@{
    ViewData["Title"] = "Details";
}


@section Link{
    <link href="~/css/mbr-additional.css" rel="stylesheet" />
    
}
<div class="grid-d  p-5">

    <div class="ite1 bg-white radius shadow pt-4">
        <dl >

            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Name)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Name)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Description)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Description)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Age)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Age)
            </dd>

            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.PhotoPath)
            </dd>

            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Debt)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Debt)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Payed)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Payed)
            </dd>
        </dl>
            <div class="text-center " style="margin-top:90%">
                <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
                <a asp-action="Index">Back to List</a>
            </div>
    </div>
    <section class="ite2 timeline2 cid-sa7A54Z4uF radius shadow pt-4" id="timeline2-10"> 

        <div class="px-5">
            <div class="mbr-section-head">
                <h3 class="mbr-section-title mbr-fonts-style align-center mb-0  display-2">
                    <strong>Timeline</strong>
                    <a class="btn btn-primary float-right" style="border-radius:50% ;max-width:50px " asp-action="Create"><i class="fas fa-plus text-white" style="margin-left:-2px"></i></a>
                </h3>
                

                
            </div>
            <div class="timelines-container mt-4">
                <div class="row timeline-element separline mb-5">
                    <div class="timeline-date-panel col-12 col-md-4">
                        <div class="time-line-date-content">
                            <h4 class="mbr-timeline-date mbr-fonts-style display-5">
                                <strong>23 April 2025</strong>
                            </h4>
                        </div>
                    </div>
                    <span class="iconBackground"></span>
                    <div class="col-12 col-md-8">
                        <div class="timeline-text-content">
                            <h4 class="mbr-timeline-title mb-4 mbr-fonts-style display-5">
                                <strong>Website Builder</strong>
                            </h4>
                            <div class="image-wrapper mb-4">
                                <img src="https://picsum.photos/700/500" alt="Mobirise" title="">
                            </div>
                            <p class="mbr-text mbr-fonts-style display-7">
                                You don't have to code to create your own site. Select one of available themes in the Mobirise sitebuilder.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="row timeline-element separline mb-5">
                    <div class="timeline-date-panel col-12 col-md-4">
                        <div class="time-line-date-content">
                            <h4 class="mbr-timeline-date mbr-fonts-style display-5">
                                <strong>23 April 2025</strong>
                            </h4>
                        </div>
                    </div>
                    <span class="iconBackground"></span>
                    <div class="col-12 col-md-8">
                        <div class="timeline-text-content">
                            <h4 class="mbr-timeline-title mb-4 mbr-fonts-style display-5">
                                <strong>Mobirise Kit</strong>
                            </h4>
                            <div class="image-wrapper mb-4">
                                <img src="https://picsum.photos/700/500" alt="Mobirise" title="">
                            </div>
                            <p class="mbr-text mbr-fonts-style display-7">
                                All sites you create with the Mobirise web builder are mobile-friendly natively. No special actions required.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="row timeline-element separline mb-5">
                    <div class="timeline-date-panel col-12 col-md-4">
                        <div class="time-line-date-content">
                            <h4 class="mbr-timeline-date mbr-fonts-style display-5">
                                <strong>23 April 2025</strong>
                            </h4>
                        </div>
                    </div>
                    <span class="iconBackground"></span>
                    <div class="col-12 col-md-8">
                        <div class="timeline-text-content">
                            <h4 class="mbr-timeline-title mb-4 mbr-fonts-style display-5">
                                <strong>Introductory Lesson</strong>
                            </h4>
                            <div class="image-wrapper mb-4">
                                <img src="https://picsum.photos/700/500" alt="Mobirise" title="">
                            </div>
                            <p class="mbr-text mbr-fonts-style display-7">
                                Select the theme that suits you. Each theme in the Mobirise site builder contains a set of unique blocks.
                            </p>
                        </div>
                    </div>
                </div>









            </div>
        </div>
    </section>
</div>