@model DataAccess.ViewModel.DoctorViewModel
@{
    ViewData["Title"] = "Detile";
    var photoPath = "/img/profile/" + Model.Doctor.PhotoPath;
}
@section Link{
    <link href="~/css/Detile.css" rel="stylesheet" />
}
<div class="wrapper row">


    <div class="profile-card js-profile-card main-coler">
        <div class="profile-card__img">
            @if (Model.Doctor.PhotoPath != null)
            {
                <img src="@photoPath" alt="profile card">
            }
            else
            {
                <img src="http://u.lorenzoferrara.net/marlenesco/material-card/thumb-christopher-walken.jpg" alt="profile card">
            }
        </div>

        <div class="profile-card__cnt js-profile-cnt">
            <div class="profile-card__name">
                @Html.DisplayFor(model => model.Doctor.UserName)
            </div>
            <div class="profile-card__txt">Front-end Developer from <strong>Mesopotamia</strong></div>
            <div class="profile-card-loc">
                <span class="profile-card-loc__icon">
                    <svg class="icon"><use xlink:href="#icon-location"></use></svg>
                </span>

                <span class="profile-card-loc__txt">
                    Istanbul, Turkey
                </span>
            </div>

            <div class="profile-card-inf">
                <div class="profile-card-inf__item">
                    <div class="profile-card-inf__title">1598</div>
                    <div class="profile-card-inf__txt">Followers</div>
                </div>

                <div class="profile-card-inf__item">
                    <div class="profile-card-inf__title">65</div>
                    <div class="profile-card-inf__txt">Following</div>
                </div>

                <div class="profile-card-inf__item">
                    <div class="profile-card-inf__title">123</div>
                    <div class="profile-card-inf__txt">Articles</div>
                </div>

                <div class="profile-card-inf__item">
                    <div class="profile-card-inf__title">85</div>
                    <div class="profile-card-inf__txt">Works</div>
                </div>
            </div>

            <div class="profile-card-social">
                <a href="https://www.facebook.com/iaMuhammedErdem" class="profile-card-social__item facebook" target="_blank">
                    <span class="icon-font">
                        <svg class="icon"><use xlink:href="#icon-facebook"></use></svg>
                    </span>
                </a>

                <a href="https://twitter.com/iaMuhammedErdem" class="profile-card-social__item twitter" target="_blank">
                    <span class="icon-font">
                        <svg class="icon"><use xlink:href="#icon-twitter"></use></svg>
                    </span>
                </a>

                <a href="https://www.instagram.com/iamuhammederdem" class="profile-card-social__item instagram" target="_blank">
                    <span class="icon-font">
                        <svg class="icon"><use xlink:href="#icon-instagram"></use></svg>
                    </span>
                </a>


            </div>

            <div class="profile-card-ctr">
                <button class="profile-card__button button--blue js-message-btn">Message</button>
                <button class="profile-card__button button--orange js-message-btn1">Set Appontement</button>
            </div>
        </div>

        <div class="profile-card-message js-message">
            <form class="profile-card-form">
                <div class="profile-card-form__container">
                    <textarea placeholder="Say something..."></textarea>
                </div>

                <div class="profile-card-form__bottom">

                    <button class="profile-card__button button--gray js-message-close">
                        Cancel
                    </button>
                    <button class="profile-card__button button--blue js-message-close">
                        Send
                    </button>
                </div>
            </form>

            <div class="profile-card__overlay js-message-close"></div>
        </div>
        <div class="profile-card-message js-message1">
            <form class="profile-card-form">
                <div class="profile-card-form__container">
                    <textarea placeholder="Say something..."></textarea>
                </div>

                <div class="profile-card-form__bottom">

                    <button class="profile-card__button button--gray js-message-close">
                        Cancel
                    </button>
                    <button class="profile-card__button button--blue js-message-close">
                        Send
                    </button>
                </div>
            </form>

            <div class="profile-card__overlay js-message-close"></div>
        </div>

    </div>
    <div class="profile-card1 js-profile-card ">
        <div id="map" class="h-100 w-100"></div>
    </div>
</div>
<h1 class="text-center text-white-50 pb-4" style="text-shadow: 3px 3px 11px #000000;
    ">
    Gallery
</h1>
@{
    var random = new Random();
}
<div class="slideshow-container">

    <div class="mySlides fade1">

        <img src="https://picsum.photos/id/@random.Next(1080)/1600/800" style="border-radius: 12px; width: 100%">

    </div>

    <div class="mySlides fade1">

        <img src="https://picsum.photos/id/@random.Next(1080)/1600/800" style="border-radius: 12px; width: 100%">

    </div>
    <div class="mySlides fade1">

        <img src="https://picsum.photos/id/@random.Next(1080)/1600/800" style="border-radius: 12px; width: 100%">

    </div>

    <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
    <a class="next" onclick="plusSlides(1)">&#10095;</a>
</div>

<div class="comment pb-3 mb-5 main-coler">
    <h1 class="text-center  pt-4">Comments</h1>
    <form class="row" asp-action="Create" asp-route-id="@Model.Doctor.Id">
        <div class="form-group mx-auto col-8 d-flex">
            <input asp-for="Comment.Comment" class="form-control " />
            <span asp-validation-for="Comment.Comment" class="text-danger"></span>
            <input type="submit" value="Save" class="btn btn-primary ml-1" />
        </div>
    </form>
    @foreach (var item in Model.Comments)
    {
    <div class="container shadow-sm mb-1 card p-md-2 p-1 main-coler" >
        <div class="card-body main-coler" >
            <div class="row">
                <div class="col-lg-1 col-2">
                    <img src="https://image.ibb.co/jw55Ex/def_face.jpg" class="img img-rounded img-fluid" />
                    <p class="text-secondary text-center">@item.CreatedTime</p>
                </div>
                <div class="col-lg-11 col-10">
                    <p>
                        <a class="float-left" href="https://maniruzzaman-akash.blogspot.com/p/contact.html"><strong>@item.user.UserName</strong></a>
                        <span class="float-right"><i class="text-warning fa fa-star"></i></span>
                        <span class="float-right"><i class="text-warning fa fa-star"></i></span>
                        <span class="float-right"><i class="text-warning fa fa-star"></i></span>
                        <span class="float-right"><i class="text-warning fa fa-star"></i></span>

                    </p>
                    <div class="clearfix"></div>
                    <p>@item.Comment</p>
                    <p>
                        <a class="float-right btn btn-outline-primary ml-2"> <i class="fa fa-reply"></i> Reply</a>
                        <a class="float-right btn text-white btn-danger"> <i class="fa fa-heart"></i> Like</a>
                    </p>
                </div>
            </div>
            <div class="card card-inner main-coler" >
                <div class="card-body">
                    <div class="row">
                        <div class="col-lg-1 col-2">
                            <img src="https://image.ibb.co/jw55Ex/def_face.jpg" class="img img-rounded img-fluid" />
                            <p class="text-secondary text-center">15 Minutes Ago</p>
                        </div>
                        <div class="col-lg-11 col-10">
                            <p><a href="https://maniruzzaman-akash.blogspot.com/p/contact.html"><strong>Maniruzzaman Akash</strong></a></p>
                            <p>Lorem Ipsum is simply dummy text of the pr make  but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
                            <p>
                                
                                <a class="float-right btn text-white btn-danger"> <i class="fa fa-heart"></i> Like</a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    }
</div>

<svg hidden="hidden">
    <defs>
       

        <symbol id="icon-facebook" viewBox="0 0 32 32">
            <title>facebook</title>
            <path d="M19 6h5v-6h-5c-3.86 0-7 3.14-7 7v3h-4v6h4v16h6v-16h5l1-6h-6v-3c0-0.542 0.458-1 1-1z"></path>
        </symbol>

        <symbol id="icon-instagram" viewBox="0 0 32 32">
            <title>instagram</title>
            <path d="M16 2.881c4.275 0 4.781 0.019 6.462 0.094 1.563 0.069 2.406 0.331 2.969 0.55 0.744 0.288 1.281 0.638 1.837 1.194 0.563 0.563 0.906 1.094 1.2 1.838 0.219 0.563 0.481 1.412 0.55 2.969 0.075 1.688 0.094 2.194 0.094 6.463s-0.019 4.781-0.094 6.463c-0.069 1.563-0.331 2.406-0.55 2.969-0.288 0.744-0.637 1.281-1.194 1.837-0.563 0.563-1.094 0.906-1.837 1.2-0.563 0.219-1.413 0.481-2.969 0.55-1.688 0.075-2.194 0.094-6.463 0.094s-4.781-0.019-6.463-0.094c-1.563-0.069-2.406-0.331-2.969-0.55-0.744-0.288-1.281-0.637-1.838-1.194-0.563-0.563-0.906-1.094-1.2-1.837-0.219-0.563-0.481-1.413-0.55-2.969-0.075-1.688-0.094-2.194-0.094-6.463s0.019-4.781 0.094-6.463c0.069-1.563 0.331-2.406 0.55-2.969 0.288-0.744 0.638-1.281 1.194-1.838 0.563-0.563 1.094-0.906 1.838-1.2 0.563-0.219 1.412-0.481 2.969-0.55 1.681-0.075 2.188-0.094 6.463-0.094zM16 0c-4.344 0-4.887 0.019-6.594 0.094-1.7 0.075-2.869 0.35-3.881 0.744-1.056 0.412-1.95 0.956-2.837 1.85-0.894 0.888-1.438 1.781-1.85 2.831-0.394 1.019-0.669 2.181-0.744 3.881-0.075 1.713-0.094 2.256-0.094 6.6s0.019 4.887 0.094 6.594c0.075 1.7 0.35 2.869 0.744 3.881 0.413 1.056 0.956 1.95 1.85 2.837 0.887 0.887 1.781 1.438 2.831 1.844 1.019 0.394 2.181 0.669 3.881 0.744 1.706 0.075 2.25 0.094 6.594 0.094s4.888-0.019 6.594-0.094c1.7-0.075 2.869-0.35 3.881-0.744 1.050-0.406 1.944-0.956 2.831-1.844s1.438-1.781 1.844-2.831c0.394-1.019 0.669-2.181 0.744-3.881 0.075-1.706 0.094-2.25 0.094-6.594s-0.019-4.887-0.094-6.594c-0.075-1.7-0.35-2.869-0.744-3.881-0.394-1.063-0.938-1.956-1.831-2.844-0.887-0.887-1.781-1.438-2.831-1.844-1.019-0.394-2.181-0.669-3.881-0.744-1.712-0.081-2.256-0.1-6.6-0.1v0z"></path>
            <path d="M16 7.781c-4.537 0-8.219 3.681-8.219 8.219s3.681 8.219 8.219 8.219 8.219-3.681 8.219-8.219c0-4.537-3.681-8.219-8.219-8.219zM16 21.331c-2.944 0-5.331-2.387-5.331-5.331s2.387-5.331 5.331-5.331c2.944 0 5.331 2.387 5.331 5.331s-2.387 5.331-5.331 5.331z"></path>
            <path d="M26.462 7.456c0 1.060-0.859 1.919-1.919 1.919s-1.919-0.859-1.919-1.919c0-1.060 0.859-1.919 1.919-1.919s1.919 0.859 1.919 1.919z"></path>
        </symbol>

        <symbol id="icon-twitter" viewBox="0 0 32 32">
            <title>twitter</title>
            <path d="M32 7.075c-1.175 0.525-2.444 0.875-3.769 1.031 1.356-0.813 2.394-2.1 2.887-3.631-1.269 0.75-2.675 1.3-4.169 1.594-1.2-1.275-2.906-2.069-4.794-2.069-3.625 0-6.563 2.938-6.563 6.563 0 0.512 0.056 1.012 0.169 1.494-5.456-0.275-10.294-2.888-13.531-6.862-0.563 0.969-0.887 2.1-0.887 3.3 0 2.275 1.156 4.287 2.919 5.463-1.075-0.031-2.087-0.331-2.975-0.819 0 0.025 0 0.056 0 0.081 0 3.181 2.263 5.838 5.269 6.437-0.55 0.15-1.131 0.231-1.731 0.231-0.425 0-0.831-0.044-1.237-0.119 0.838 2.606 3.263 4.506 6.131 4.563-2.25 1.762-5.075 2.813-8.156 2.813-0.531 0-1.050-0.031-1.569-0.094 2.913 1.869 6.362 2.95 10.069 2.95 12.075 0 18.681-10.006 18.681-18.681 0-0.287-0.006-0.569-0.019-0.85 1.281-0.919 2.394-2.075 3.275-3.394z"></path>
        </symbol>

       
    </defs>
</svg>

@section Scripts{
    <script>
        // Initialize and add the map
        function initMap() {
            // The location of Uluru
            var uluru = { lat: 32.2243446, lng: 35.2301697 };
            // The map, centered at Uluru
            var map = new google.maps.Map(
                document.getElementById('map'), { zoom: 16, center: uluru });
            // The marker, positioned at Uluru
            var marker = new google.maps.Marker({ position: uluru, map: map });
        }
    </script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCwzkWkShf6PbI4gzgmBqG09jaXJg9cqgA&callback=initMap"></script>
    <script>
        var messageBox = document.querySelector('.js-message');
        var btn = document.querySelector('.js-message-btn');
        var card = document.querySelector('.js-profile-card');
        var closeBtn = document.querySelectorAll('.js-message-close');

        btn.addEventListener('click', function (e) {
            e.preventDefault();
            card.classList.add('active');
        });

        closeBtn.forEach(function (element, index) {
            console.log(element);
            element.addEventListener('click', function (e) {
                e.preventDefault();
                card.classList.remove('active');
            });
        });
    </script>
    <script>
        var messageBox = document.querySelector('.js-message1');
        var btn = document.querySelector('.js-message-btn1');
        var card = document.querySelector('.js-profile-card');
        var closeBtn = document.querySelectorAll('.js-message-close');

        btn.addEventListener('click', function (e) {
            e.preventDefault();
            card.classList.add('active');
        });

        closeBtn.forEach(function (element, index) {
            console.log(element);
            element.addEventListener('click', function (e) {
                e.preventDefault();
                card.classList.remove('active');
            });
        });
    </script>
    <script>
        var slideIndex = 1;
        showSlides(slideIndex);

        // Next/previous controls
        function plusSlides(n) {
            showSlides(slideIndex += n);
        }

        // Thumbnail image controls
        function currentSlide(n) {
            showSlides(slideIndex = n);
        }

        function showSlides(n) {
            var i;
            var slides = document.getElementsByClassName("mySlides");
            var dots = document.getElementsByClassName("dot");
            if (n > slides.length) { slideIndex = 1 }
            if (n < 1) { slideIndex = slides.length }
            for (i = 0; i < slides.length; i++) {
                slides[i].style.display = "none";
            }
            for (i = 0; i < dots.length; i++) {
                dots[i].className = dots[i].className.replace(" active", "");
            }
            slides[slideIndex - 1].style.display = "block";
            dots[slideIndex - 1].className += " active";
        }
    </script>
}