@using Microsoft.AspNetCore.Identity
@inject SignInManager<DataAccess.Model.ApplicationUser> SignInManager
@inject UserManager<DataAccess.Model.ApplicationUser> UserManager
@{
    var user = await UserManager.GetUserAsync(User);
}
<style>
    .bttt {
        background: none !important;
        border: none;
        cursor: pointer;
        text-decoration: none;
        line-height: 40px;
        padding: 0 15px;
        margin-right: 40px;
        
    }

        .bttt:hover {
            color: #0026ff;
        }

    button:focus {
        outline: 0 auto -webkit-focus-ring-color;
    }

    .dropdown-menu.dropdown-menu-right.shadow.animated--grow-in.show {
        border-radius: 10px;
        background-color: #fff;
    }

    .dropdown-item:focus, .dropdown-item:hover {
        color: #0026ff;
        text-decoration: none;
        background-color: #fff;
    }

    .dropdown-toggle::after {
        content: none;
    }
</style>
<ul class="navbar-nav">
@if (SignInManager.IsSignedIn(User))
{
    var random = new Random();
    <li class="nav-item dropdown no-arrow pt-1">
        <a class="nav-link dropdown-toggle  " href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            @if (user.PhotoPath != null)
            {
                @User.Identity.Name
                <img style="width: 30px;
                height: 30px;
                border-radius: 50%;
                object-fit: contain;"
                src="~/img/profile/@user.PhotoPath" alt="" asp-append-version="true" class="shadow-sm" />
            }
            else
            {
                @User.Identity.Name
                <img style="        width: 30px;
                height: 30px;
                border-radius: 50%;
                object-fit: contain;"
                src="https://picsum.photos/id/@random.Next(500)/300/500" alt="" asp-append-version="true" class="shadow-sm" />
            }
        </a>
        <!-- Dropdown - User Information -->
        <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="userDropdown">
            <a class="dropdown-item bttt" asp-controller="Account" asp-action="profile">
                <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                Profile
            </a>
      
            <form class="dropdown-item pt-0 pl-0" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
             
                <button type="submit" class="bttt">
                    <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                    Logout
                </button>
            </form>
        </div>
    </li>
}
@*<ul class="navbar-nav">
    @if (SignInManager.IsSignedIn(User))
    {
        <li class="nav-item">
            <a  class="nav-link main-coler pt-2" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">@User.Identity.Name</a>
            <a class="nav-link main-coler pt-2" asp-controller="Account" asp-action="Profile" title="Manage">@User.Identity.Name</a>

        </li>
        <li class="nav-item">
            <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Page("/", new { area = "" })" method="post">
                <button type="submit" class="nav-link btn btn-link main-coler">Logout</button>
            </form>
        </li>
    }*@
else
{
    <li class="nav-item">
        @*<a class="nav-link main-coler" asp-area="Identity" asp-page="/Account/Register">Register</a>*@
        <a class="nav-link navtext" asp-controller="Account" asp-action="Register">Register</a>
    </li>
    <li class="nav-item">
        @*<a class="nav-link main-coler" asp-area="Identity" asp-page="/Account/Login">Login</a>*@
        <a class="nav-link navtext" asp-controller="Account" asp-action="Login">Login</a>

    </li>
}
</ul>
